<% provide(:title, "Edit Research") %>

<div class="contentResearch">
	<div class="header">
		<h2>Editing Research </h2>
	</div>
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', researches_path, class:"full"  %>
	</div>
</div>