<% provide(:title, "Add Research") %>

<div class="contentResearch">
	<div class="header">
		<h2>Add Research</h2>
	</div>
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', researches_path, class:"full" %>
	</div>
</div>