<% provide(:title, "Add Publication") %>

<div class="contentPublication">
	<div class="header">
		<h2>Add Publication</h2>
	</div>
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', publications_path, class:"full" %>
	</div>
</div>