<% provide(:title, "Contact") %>

<div class="header">
	<h2>Contact Information</h2>
</div>
<div class="mainContent">
	<span><span style="text-decoration: underline; font-size: medium;"><strong>MAHI Lab</strong></span>
	</span>
	<p>
		To contact the Mechatronics and Haptics Lab at Rice University, please visit the MAHI Lab's
		<a href="http://mahilab.rice.edu/" target="blank">website</a>.
	</p>

	<span style="text-decoration: underline; font-size: medium;"><strong>Brain-Machine Interface Systems Team</strong></span>
	<p>	
		To contact the Brain-Machine Interface Systems Team at the University of Houston, please visit the Team's <a href="http://uhbmist.tumblr.com/" target="blank">tumblr</a> or <a href="https://www.facebook.com/UHBMIST" target="blank">facebook</a> page.
	</p>
</div>