<% provide(:title, "Edit News") %>

<div class="contentNews">
	<div class="header">
		<h3>Editing Post </h3>
	</div>
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', posts_path, class:"full"  %>
	</div>
</div>