<% provide(:title, "Add News") %>

<div class="contentNews">
	<div class="header">
		<h3>Add News</h3>
	</div>
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', posts_path, class:"full" %>
	</div>
</div>