<% provide(:title, "Add News") %>

<div class="header">
	<h2>Add News</h2>
</div>

<div class="contentNews">
	
	<div class="form">
		<%= render 'form' %>
	</div>
	<div class="options">
		<%= link_to 'Back', posts_path, class:"full" %>
	</div>
</div>