<div class="contentNews">
	<div class="newsTitle">
		<%= @post.title  %>
	</div>
	<div class="article">
		<%= @post.text %>
	</div>
	<div class="options">
		<%= link_to "Back", posts_path, class:"full"  %>
		<%= link_to "Edit", edit_post_path(@post), class:"changeLink"  %>
	</div>
</div>