<% provide(:title, "Full News") %>

<div class="contentNews">
	<div class="newsTitle">
		<%= @post.title  %>
	</div>
	<div class="article">
		<%= @post.text %>
	</div>
	<br>
	<div class="options">
		<%= link_to "Back", posts_path, class:"full"  %>
		<% if signed_in? %>
			<%= link_to "Edit", edit_post_path(@post), class:"changeLink"  %>
		<% end %>
	</div>
</div>