// Place all the styles related to the general outline of the website here.

/* Body */
body {
	font-size: 90%; /* Base font size is 14 px */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 2;
	padding-top:60 px;
	clear:both;
	margin: 0 auto;
	width: 70%;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 20px;
	text-align: center;
}

h2{
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: 400;
	padding-bottom:5px;
	border-bottom: 2px solid #eaeaea;
}

/* Main Navigation */

.mainHeader nav {
	background:black;
	margin: 0 auto 30px auto;
	text-align:left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader ul {
	list-style:none;
	margin:0 auto;
}
.mainHeader ul li {
	display: inline;
}

.mainHeader nav .linkText{
	text-decoration:none;
	margin-left: 20px;
	font-size: 1.2em;
	color: #999;    /*light grey*/
	text-transform:uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
				
.mainHeader nav .linkText:link, .mainHeader nav .linkText:visited {
	text-decoration:none;
	display: inline-block;
	padding: 5px 15px;
	height: 34.5px;
}
.mainHeader nav .linkText:hover, .mainHeader nav .linkText:active,
#Home .home .linkText:link, #Home .home .linkText:visited,
#Contact .contact .linkText:link, #Contact .contact .linkText:visited,
#News .news .linkText:link, #News .news .linkText:visited{
	color:black;
	background:#999;    /*light grey*/
	text-shadow: none !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Footer */


footer {
	padding-top:5px;
	border-top: 2px solid #eaeaea;
	margin-top: 45px;
	height:100px;
	logo {
		float:left;
	}
	small {
		float: right;
		line-height: 50px;
	}
}

