/* Place all the styles related to the publications controller here. */

/* Editing Links */

 #addPublication {
	float:right;
	padding-bottom:1%;
	#linkAdd {
	text-decoration: none;
	color:black;
	font-weight:bold;
	font-size:1 em;
	}
}

/* Body style */

.contentPublication {
	width: 80%;
	margin: 0 auto;
	background: #e6e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2% 4%;
	margin-top: 3%;
	margin-bottom: 3%;
	.options .full{
		text-decoration:none;
		color:black;
		margin-top:5%;
		font-weight:bold;
	}
	.options .changeLink{
		text-decoration:none;
		color:black;
		float:right;
		padding:0% 1%;
		font-weight:bold;
	}
	.form {
		width: 100%;
		margin: 0 120px;
	}
}

.publicationTitle{
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: 400;
	border-bottom: 2px solid black;
	line-height: 30px;
}