/* Place all the styles related to the Sessions controller here. */ 

/* Body */

.subContentLabel{
	margin: 0px 285px;
	display: inline;
}

.subContentLabel1{
	margin: 0px 285px;
	display: inline;
}

.subContentText{
	margin: 0px -230px;
	display: inline;
}

.subContentText1{
	margin: 0px -225px;
	display: inline;
}

.subContentButton{
	margin: 0px 350px;
}

#signLink {
	float: left;
	height: -500px;
	margin: 0px 80px;
	padding-top: 20px;
}

