// Place all the styles related to the welcome controller here.


/* Body style */

body {
	font-size: 90%; /* Base font size is 14 px */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 2;
	text-align: left;
	padding-top:60 px;
	clear:both;
	margin: 0 auto;
	width: 70%;
}

.mainContent {
	width: 80%;
	margin: 0 auto;
	background: #e6e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2% 4%;	
	margin-bottom: 3%;
}

.mainImage {
	width: 300px;
	margin: 0 auto 10px auto;
}

.bottomImages {
	width: 500px;
	margin: 0 auto;
	.image {
		margin: 50px 0 50px 0;
		display:inline;
	}
}


/* Headings */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 20px;
	text-align: center;
}

h2{
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 400;
}

/* Main Navigation */

.mainHeader nav {
	background:black;
	margin: 0 auto 30px auto;
	text-align:left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	ul {
		list-style:none;
		margin:0 auto;
		li {
			display: inline;
			.linkText:link, .linkText:visited{
				text-decoration:none;
				margin-left: 20px;
				font-size: 1.2em;
				color: #999;    /*light grey*/
				text-transform:uppercase;
				letter-spacing: -1px;
				padding: 5px 15px;
				font-weight: bold;
				text-decoration:none;
				display: inline-block;
				height: 34.5px;
				&:hover,&:active, {
					color:black;
					background-color:#999;
					text-shadow: none;
					border-radius: 3px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
				}
			}
		}
	}
	.active .linkText:link, .active .linkText:visited {
		color:black;
		background-color:#999;    /*light grey*/
		text-shadow: none;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
}

