// Place all the styles related to the welcome controller here.

/* Body style */

.mainContent {
	width: 80%;
	margin: 0 auto;
	background: #e6e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2% 4%;	
	margin-top: 3%;
	margin-bottom: 3%;
}

table {
	margin:auto;
}

tr{
	height:175px;
}

td{
	text-align:center;
}

.filler{
	width:70px;
}

.textCol{
	width:160px;
	margin:auto;
	display:block;
	text-align:left;
}

.portrait {
	width:150px;
	margin:auto;
	display:block;
}

.mainImage {
	width: 300px;
	margin: 0 auto 10px auto;
}

.bottomImages {
	width: 500px;
	margin: 0 auto;
	.image {
		margin: 50px 0 50px 0;
		display:inline;
	}
}



